<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/trechos/geral :: head">
    <title>Financas</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:replace="/trechos/geral :: header"> </div>
<h1>Adiciona Transação</h1>
<div>
    <form action="" method="post">
        Valor: <input type="text" name="valor" placeholder="Ex.: 13,50"/> <br/>
        Descrição: <textarea name="descricao"></textarea> <br/>
        Data: <input type="datetime-local" name="data" maxlength="10" placeholder="Ex.:00/00/0000" /> <br/>
        <select  id="optionsTipoTransacao">
        	<option th:each="tipoTransacao : ${tiposTransacoes}" th:value="${tipoTransacao.id}" th:text="${tipoTransacao.descricao}" name="tipoTransacao"></option>
        </select> <br/>
        <button id="btnSalvar" type="button">Salvar</button>

    </form>
</div>

<a th:href="@{/transacao}"> Lista das Transações</a>

    <script type="text/javascript" language="JavaScript" th:src="@{/js/transacao/adiciona-transacao.js}"></script>
</body>
</html>