<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Transação</title>
</head>
<body>
<h1>Adiciona Transação</h1>
<div>
    <form action="" method="post">
        Valor: <input type="text" name="valor" placeholder="Ex.: 13,50"/> <br/>
        Descrição: <textarea name="descricao"></textarea> <br/>
        Data: <input type="datetime-local" name="data" maxlength="10" placeholder="Ex.:00/00/0000" />
        <button id="btnSalvar" type="button">Salvar</button>

    </form>
</div>

<a th:href="@{/transacao}"> Lista das Transações</a>
</body>
</html>
<script type="text/javascript" language="JavaScript">
    var btn = document.getElementById("btnSalvar");
    function limparCamposFormulario() {
        var inputs = document.getElementsByTagName("input");
        inputs[0].value = "";
        inputs[1].value = "";
        document.getElementsByTagName("textarea")[0].value = "";
    }

    var salvarDespesa = function() {
        var inputs = document.getElementsByTagName("input");
        var valor = inputs[0].value;
        valor = valor.replace(",",".");
        var date = inputs[1].value;
        var day = date.substring(0,2);
        var month = date.substring(3,5);
        var year = date.substring(6);
        date = year + "-" + month + "-" + day;
        var descricao = document.getElementsByTagName("textarea")[0].value;

        var despesa = {
            "valorTransacao": valor,
            "descricaoTransacao": descricao,
            "dataTransacao": date
        };

        var URL = "http://localhost:9090/api/transacao/adicionar";
        fetch(URL, {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(despesa)
        })
        .then(function(response) {
            console.log(response);
            if (response.ok && response.status == 201) {
                limparCamposFormulario();
                return response.json();
            }
        })
        .then(json => console.log(json))
        .catch(error => console.error('Error: ',error));
    }

    btn.addEventListener("click", salvarDespesa);

//Mascara para data
var inputData = document.getElementsByName("data")[0];
inputData.addEventListener("keyup", mascaraData);
function mascaraData() {
    var data = inputData.value;
    if(data.length == 2) {
        data = data + '/';
        inputData.value = data;
        return true;
    }

    if(data.length == 5) {
        data = data + '/';
        inputData.value = data;
        return true;
    }
}

//mascara para valor do dinheiro
var inputMoney = document.getElementsByName("valor")[0];
inputMoney.addEventListener('keyup', moneyMask);

function moneyMask() {
    var money = inputMoney.value;

    //substitui o ponto por vírgula
    if(money.indexOf(".") != -1) {
        inputMoney.value = money.replace(".", ",");
    }
}
</script>