<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt">
<head th:replace="/trechos/geral :: head">
    <meta charset="UTF-8">
    <title>Transações</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<div th:replace="/trechos/geral :: header"> </div>
<div class="container">
    <h1>Transações</h1>
    <table class="table table-striped">
        <thead>
            <th scope="col">Valor</th>
            <th scope="col">Descrição</th>
            <th scope="col">Tipo</th>
            <th scope="col">Data</th>
            <th scope="col"></th> <!-- coluna para botões -->
        </thead>
        <tbody>
            <tr th:each="transacao : ${transacoes}" th:id="${transacao.id}">
                <td th:text="${transacao.valorTransacao}" name="valor"></td>
                <td th:text="${transacao.descricaoTransacao}" name="transacao" ></td>

                <!-- condicao para os tipos de transacoes -->
                <td th:value="${transacao.tipo}" th:text="Receita" th:if="${transacao.tipo == 2}" name="tipo"></td>
                <td th:value="${transacao.tipo}" th:text="Despesa" th:if="${transacao.tipo == 1}" name="tipo"></td>

                <td th:text="${#dates.format(transacao.dataTransacao, 'dd/MM/yyyy')}"></td>

                <td>
                    <a href="#alteraTransacao" th:attr="onclick='formAlteratransacao(\'' + ${transacao.id} + '\');'" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#alteraTransacao">Alterar</a>
                    <button th:attr="onclick='removerLinhaTransacao(\'' + ${transacao.id} + '\');'" name="btnRemoveDespesa" class="btn btn-danger">Remover</button>
                </td>
            </tr>
        </tbody>
    </table> <br/>

    <!-- adição do panel para realizar alterações na transação -->
    <div id="alteraTransacao" th:replace="/trechos/form-altera-transacao :: form-altera">
    </div>
</div>


    <script type="text/javascript" th:src="@{/js/transacaoTemplate/scripts.js}"></script>
</body>
</html>