<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/trechos/geral :: head">
    <meta charset="UTF-8">
    <title>Transações</title>
</head>
<body>
<div th:replace="/trechos/geral :: header"> </div>
    <h1>Transações</h1>
    <table>
        <tr>
            <td>Valor</td>
            <td>Descrição</td>
            <td>Data</td>
            <td></td>
        </tr>
        <tr th:each="transacao : ${transacoes}" th:id="${transacao.id}">
            <td th:text="${transacao.valorTransacao}"></td>
            <td th:text="${transacao.descricaoTransacao}"></td>
            <td th:text="${transacao.dataTransacao}"></td>
            <td><button th:attr="onclick='removerLinhaTransacao(\'' + ${transacao.id} + '\');'" name="btnRemoveDespesa">Remover</button></td>
        </tr>
    </table> <br/>

    <a th:href="@{/transacao/adicionar}"> Adicionar Transação</a>

    <script type="text/javascript">
    function limparCamposFormulario() {
        var inputs = document.getElementsByTagName("input");
        inputs[0].value = "";
        inputs[1].value = "";
        document.getElementsByTagName("textarea")[0].value = "";
    }
    function removerLinhaTransacao(idTransacao) {
        var opcao = window.confirm("Tem certeza que deseja remover o elemento?");
        (opcao===true) ? removerTransacao(idTransacao) : alert("Elemento não removido");
    }

    function removerTransacao(id) {
        var URL = "http://localhost:9090/api/transacao/remover";
        fetch(URL, {
            method: 'DELETE',
            headers: { 'Content-Type':'application/json' },
            body: JSON.stringify({'id': id })
        })
        .then((response) => {
            if(response.ok && response.status == 200) {
                //remove linha do elemento removido
                document.getElementById(id).remove();
            }
        })
    }
    </script>
</body>
</html>