<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Despesas</title>
</head>
<body>
    <h1>Despesas</h1>
    <table>
        <tr>
            <td>Valor</td>
            <td>Descrição</td>
            <td>Data</td>
            <td></td>
        </tr>
        <tr th:each="despesa : ${despesas}" th:id="${despesa.id}">
            <td th:text="${despesa.valorTransacao}"></td>
            <td th:text="${despesa.descricaoTransacao}"></td>
            <td th:text="${despesa.dataTransacao}"></td>
            <td><button th:attr="onclick='removerLinhaDespesa(\'' + ${despesa.id} + '\');'" name="btnRemoveDespesa">Remover</button></td>
        </tr>
    </table> <br/>

    <a th:href="@{/despesa/adicionar}"> Adicionar Despesa</a>

    <script type="text/javascript">
    function limparCamposFormulario() {
        var inputs = document.getElementsByTagName("input");
        inputs[0].value = "";
        inputs[1].value = "";
        document.getElementsByTagName("textarea")[0].value = "";
    }
    function removerLinhaDespesa(idDespesa) {
        var opcao = window.confirm("Tem certeza que deseja remover o elemento?");
        (opcao===true) ? removerDespesa(idDespesa) : alert("Elemento não removido");
    }

    function removerDespesa(id) {
        var URL = "http://localhost:9090/api/transacao/despesa/remover";
        fetch(URL, {
            method: 'DELETE',
            headers: { 'Content-Type':'application/json' },
            body: JSON.stringify({'id': id })
        })
        .then((response) => {
            if(response.ok && response.status == 200) {
                //remove linha do elemento removido
                document.getElementById(id).remove();
            }
        })
    }
    </script>
</body>
</html>